body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

div.acknowledgment {
  color: #999;
  font-size: x-small;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.container {
  display: flex;
  flex-direction: row;
}

div.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  flex: 1;
}

header {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}

aside {
  flex: 1;
  order: 0;
}

article {
  flex: 3;
  order: 1;
  padding-left: 20px;
}

/* Khung nhìn hẹp */
@media (max-width: 600px) {
  div.container {
    display: block;
  }
  article {
    padding-left: 0px;
  }
}
